---
import Layout from "@/layouts/Layout.astro";
import { getImage } from "@/utils";

const BENEFITS = [
  "Activación de Protocolos",
  "Atención ante acusaciones por padres de familia",
  "Hostigamiento laboral",
  "Acoso laboral",
  "Representación legal ante instancias educativas",
  "Desahogo de audiencias",
  "Contestación a escritos jurídicos",
  "Preparación de pruebas",
  "Acompañamiento legal durante el proceso",
  "Atención a protocolos CONVIVE",
  "Conferencias y talleres prácticos",
];
---

<Layout
  title="Asesoría legal para el docente | Salinas Abogados"
  description="Descubre estrategias legales clave para proteger los derechos de maestras en el ámbito educativo. Desde contratos laborales hasta conflictos con padres, fortalecemos su posición con soluciones prácticas"
  image={getImage("estrategias-educacion.jpg")}
>
  <div class="container max-w-4xl m-auto mt-36 p-4">
    <h1 class="text-4xl font-bold text-center text-white mb-4">
      Asesoría legal para el docente
    </h1>
    <h2 class="text-golden font-medium text-2xl text-center mb-3">
      Soluciones jurídicas
    </h2>
    <div>
      <p class="text-white text-lg mb-4">
        En esta capacitación, exploraremos el complejo laberinto legal que rodea
        el ámbito educativo, centrándonos especialmente en cómo salvaguardar los
        derechos y la integridad de las maestras. Desde contratos laborales
        hasta situaciones de conflictos con padres de familia, abordaremos
        estrategias prácticas y soluciones legales que fortalezcan la posición
        de las y los maestros.
      </p>

      <div class="text-white text-lg my-7">
        <p class="text-white text-lg mb-2">Descubriremos juntos:</p>
        <ul
          class="bg-blue-light flex flex-col gap-2 text-white text-lg mb-4 p-3 rounded-md"
        >
          <li class="flex">
            <span class="mr-2">✅</span>
            <span class="leading-6">
              Claves para redactar actas de hechos de situaciones escolares.
            </span>
          </li>
          <li class="flex">
            <span class="mr-2">✅</span>
            <span class="leading-6">
              Estrategias para abordar situaciones conflictivas con estudiantes, padres y colegas.
            </span>
          </li>
          <li class="flex">
            <span class="mr-2">✅</span>
            <span class="leading-6">
              Herramientas para la prevención y atención de acoso y hostigamiento laboral.
            </span>
          </li>
        </ul>
      </div>

      <p class="text-white text-lg my-7">
        Únete en esta travesía donde combinaremos la pasión por la educación con
        el poder del conocimiento legal. ¡Preparemos juntos un terreno seguro y
        protegido para nuestras valiosas maestras y maestros!
      </p>
    </div>
    <div>
      <img
        class="w-full rounded-md aspect-video"
        src={getImage("estrategias-educacion.jpg")}
        alt="Estrategias educacion"
      />
    </div>
    <section class="container m-auto my-7">
      <h2 class="text-2xl font-bold text-white mb-3">Beneficios</h2>
      <ul class="bg-blue-light grid grid-cols-1 p-4 gap-4 rounded-md lg:grid-cols-2">
        {BENEFITS.map((advice) => (
          <li class="flex gap-1 text-white">
            <span>►</span>
            <span>{advice}</span>
          </li>
        ))}
      </ul>
    </section>
  </div>
</Layout>
