---
interface Props {
  title: string;
  styles?: string;
}

const { title, styles } = Astro.props;

---
<section class="container max-w-6xl m-auto my-36" style={styles}>
  <h1 class="text-3xl font-bold text-center text-white mb-3 sm:text-5xl">
    {title}
  </h1>

  <ul class="m-4 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-11">
    <slot />
  </ul>
</section>