---
const { listServices } = Astro.props;

---
<ul class="bg-blue-light flex flex-col gap-2 text-white text-lg mb-4 p-3 rounded-md">
  {listServices.map((service: any) => (
    <li class="flex">
      <span class="mr-2">✅</span>
      <span>
        {service}
      </span>
    </li>
  ))}
</ul>