---
const { listIngredients } = Astro.props;

---
<ul class="bg-orange flex flex-col gap-2 text-black text-lg mb-4 p-5 rounded-md">
  {listIngredients.map((service: any) => (
    <li class="flex">
      <span class="mr-2">►</span>
      <span>
        {service}
      </span>
    </li>
  ))}
</ul>