---
import Layout from "@/layouts/Layout.astro";
import Error from "@/components/icons/Error.astro";
---

<Layout 
  title="404" 
  description="Página no encontrada"
>
  <section class="flex flex-col gap-3 items-center justify-center px-3 min-h-screen mt-10">
    <div class="flex gap-1">
      <h1 class="text-9xl font-black text-golden">4</h1>
      <Error className="text-golden w-24" />
      <h1 class="text-9xl font-black text-golden">4</h1>
    </div>
    <p class="text-center text-white text-xl">Página no encontrada</p>
    <p class="text-center text-white">
      La página que buscas no existe o ha sido movida.
    </p>
    <a
      href="/"
      class="bg-golden my-3 px-9 py-3 font-semibold rounded-sm text-black hover:bg-opacity-80"
    >
      INICIO
    </a>
  </section>
</Layout>
