---
import Layout from "@/layouts/Layout.astro";
import { STEWS } from "@/constants/stews";
import Stew from "@/components/Stew.astro";
import Container from "@/UI/Container.astro";
---

<Layout
  title="Guisados"
  description="Guisados en la Ciudad de México"
>
  <Container title="Guisados">
    {STEWS.map(({ title, href, img, priceKilogram, priceHalfKilogram, priceQuarterKilogram, available }) => (
      <Stew
        title={title}
        href={href}
        img={img}
        priceKilogram={priceKilogram ?? 0}
        priceHalfKilogram={priceHalfKilogram ?? 0}
        priceQuarterKilogram={priceQuarterKilogram ?? 0}
        available={available}
      />
    ))}
  </Container>
  <p class="text-center font-semibold text-xl mb-11 max-w-sm m-auto">
    La variedad de guisados puede cambiar periódicamente.
  </p>
</Layout>
