---
import { fade } from "astro:transitions";
import Layout from "@/layouts/Layout.astro";
import List from "@/UI/List.astro";
import { ContactButton } from "@/components/ContactButton";


const ELEMENTS_INCLUDED = [
  "1 kg de cualquier guisado.",
  "1 kg de sopa fría codito.",
  "1/2 kg de arroz.",
  "1/2 kg de frijoles.",
  "Salsa",
  "Tortillas.",
];
---

<Layout
  title="Paquete de guidado"
  description="Paquete de guidado"
  className="bg-orange"
>
  <div class="mt-36 p-3" transition:animate={fade({ duration: "0.5s" })}>
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold text-center text-white mb-3 sm:text-5xl">
        Paquete de comida.
      </h1>

      <h2 class="text-2xl font-bold text-center text-white mb-3 sm:text-4xl">
        Incuye:
      </h2>

      <div class="max-w-sm m-auto my-7">
        <List listIngredients={ELEMENTS_INCLUDED} />
      </div>

      <div class="flex flex-col justify-center items-center gap-2 text-4xl font-bold text-center text-blue mb-3">
        Precio: 
        <span class="bg-white text-blue p-3 rounded-lg text-4xl sm:text-6xl">
          $400.00
        </span>
      </div>

      <div class="text-center my-7">
        <ContactButton
          text="Ordenar"
          classButton="bg-blue text-white py-2 inline-flex px-4 rounded-lg font-semibold items-center gap-2 rounded-tl-2xl rounded-tr-lg rounded-br-2xl rounded-bl-lghover:bg-blue-light"
        />
      </div>
      <div class="text-center text-xl font-semibold my-3">
        <p>Tiempo de entrega entre:</p>
        <p>30 - 45 min.</p>
      </div>
      <p class="my-11 text-center">
        *Forma de pago: <span class="font-bold">Efectivo o transferencia</span>*
      </p>
    </div>
  </div>
</Layout>
