---
import { Contact } from "@/components/Contact";
const PUBLIC_CONTRIBUTOR_LINKEDIN = import.meta.env.PUBLIC_CONTRIBUTOR_LINKEDIN;

---

<footer>
  <Contact client:idle />
  <div class="bg-blue p-5">
    <div class="text-md text-center text-white">
      Creado con ❤️ por
      <a
        href={PUBLIC_CONTRIBUTOR_LINKEDIN}
        target="_blank"
        class="text-blue-500 opacity-80 hover:opacity-100"
      >
        Dani
      </a>
    </div>
  </div>
</footer>
