---
import { Contact } from "@/components/Contact";
const PUBLIC_DEVELOP_LINKEDIN = import.meta.env.PUBLIC_DEVELOP_LINKEDIN;

---

<footer>
  <Contact client:idle />
  <div class="bg-blue px-4 py-11">
    <div class="text-md text-center text-white">
      Creado por
      <a
        href={PUBLIC_DEVELOP_LINKEDIN}
        target="_blank"
        class="text-orange text-xl font-bold hover:underline"
      >
        Daniel V.
      </a>
    </div>
  </div>
</footer>
