---
import bgBanner from "@/images/bg-banner.jpeg"
import momStews from "@/images/guisados-de-mama.png"

---

<div
  class="flex flex-col bg-cover bg-center md:min-h-screen"
  style={{ backgroundImage: `url(${bgBanner.src})`}}
>
  <section class="container mx-auto p-4 flex flex-1 flex-col items-center mt-24 lg:mt-0 lg:flex-row">
    <hgroup class="max-w-4xl">
      <h1 class="text-xl text-shadow-lg text-white font-black sm:text-3xl">
        En <span class="text-golden">Los guisados de Mam치</span> nos dedicamos a llevar a tu mesa los mejores platillos caseros, 
        preparados con todo el amor y saz칩n que solo una mam치 puede ofrecer. Nuestros guisados 
        son elaborados con ingredientes frescos y de la mejor calidad.
      </h1>
    </hgroup>
    <img
      src={ momStews.src }
      alt="Los guisados de Mam치"
      class="max-w-full m-auto"
    />
  </section>
</div>
