---
import bannerSaucerImg from "@/images/cochinita-pibil.png";
import { ContactButton } from "@/components/ContactButton";
const STYLE_BUTTON = "inline-flex px-4 rounded-lg font-semibold items-center gap-2 rounded-tl-2xl rounded-tr-lg rounded-br-2xl rounded-bl-lg";
---

<div class="flex flex-col mt-40 mb-56 px-5">
  <section class="container grid grid-col-1 justify-items-center items-center m-auto lg:max-w-6xl lg:grid-cols-2">
    <div>
      <h1
        class="text-4xl text-blue text-center font-black my-11 lg:text-6xl md:text-start"
      >
        LOS GUISADOS DE MAMÁ.
      </h1>
      <p class="text-xl text-white font-bold">
        Nos dedicamos a llevar a tu mesa los mejores platillos caseros,
        preparados con todo el amor y sazón que solo una mamá puede ofrecer.
        Nuestros guisados son elaborados con ingredientes frescos y de la mejor
        calidad.
      </p>
      <div
        class="flex flex-wrap justify-center gap-7 mb-4 mt-5 md:justify-start"
      >
        <ContactButton
          text="Haz tu pedido"
          classButton={`bg-blue text-white py-2 ${STYLE_BUTTON} hover:bg-blue-light`}
        />
        <a
          href="/guisados"
          class={`bg-black text-white py-5 ${STYLE_BUTTON} hover:bg-blue`}
        >
          Conoce nuestro menú
        </a>
      </div>
      <div class="flex justify-center my-5 md:justify-start">
        <div class="flex flex-col items-center rounded-lg md:items-start">
          <p class="text-blue font-semibold text-lg">Tiempo de entrega entre:</p>
          <span class="text-2xl font-black text-blue sm:text-3xl">
            30 - 45 min.
          </span>
        </div>
      </div>
      <p class="mb-11 text-lg text-center md:text-start">
        *Pago en <span class="font-bold">Efectivo</span> 
        o <span class="font-bold">transferencia</span>*
      </p>
    </div>
    <div class="flex justify-center px-5 items-center w-full h-full lg:justify-end">
      <div class="rotate-12">
        <img
          src={bannerSaucerImg.src}
          alt="Plato de cochinita"
          class="w-52 h-64 sm:w-full sm:h-full"
        />
        <p class="text-center font-semibold text-lg text-blue">*Imagen ilustrativa*</p>
      </div>
    </div>
  </section>
</div>
