---
import bannerSaucerImg from "@/images/cochinita-pibil.png";
import { ContactButton } from "@/components/ContactButton";
const STYLE_BUTTON = "inline-flex px-4 rounded-lg font-semibold items-center gap-2 rounded-tl-2xl rounded-tr-lg rounded-br-2xl rounded-bl-lg";
---

<div class="flex flex-col mt-24 mb-40 px-5 h-auto lg:mt-11 lg:h-screen">
  <section class="container grid grid-col-1 justify-items-center items-center m-auto gap-4 lg:max-w-6xl lg:grid-cols-2">
    <div>
      <h1 class="text-4xl text-white text-center font-black my-11 lg:text-6xl md:text-start">
        LOS <span class="text-golden">GUISADOS</span>
        DE <span class="text-golden">MAMÁ</span>.
      </h1>
      <p class="text-xl text-white font-bold">
        Nos dedicamos a llevar a tu mesa los mejores platillos caseros,
        preparados con todo el amor y sazón que solo una mamá puede ofrecer.
        Nuestros guisados son elaborados con ingredientes frescos y de la mejor
        calidad.
      </p>
      <div class="flex flex-wrap justify-center gap-7 mb-4 mt-5 md:justify-start">
        <ContactButton
          text="Haz tu pedido"
          classButton={`bg-blue text-white py-2 ${STYLE_BUTTON} hover:bg-green-800`}
        />
        <a
          href="/guisados"
          class={`bg-black text-white py-5 ${STYLE_BUTTON} hover:bg-blue-medium`}
        >
          Conoce nuestros platillos
        </a>
      </div>
    </div>
    <div class="flex justify-end px-5 items-center w-full h-full">
      <div class="rotate-12 transform transition-all duration-300 ease-in-out cursor-pointer hover:rotate-0">
        <a href="/guisados/cochinita-pibil">
          <img
            src={bannerSaucerImg.src}
            alt="Plato de cochinita"
            class="w-full sm:w-96"
          />
        </a>
      </div>
    </div>
  </section>
</div>
