---
import { DropdownMenu } from '@/components/DropdownMenu'
import { ROUTES } from "@/constants/routes";
// import Logo from '@/components/icons/Logo.astro'
import logo from "@/images/los-guisados-de-mama.png";

---

<header id="header" class="px-3 py-4 fixed top-0 right-0 left-0 transition-colors duration-500 z-10">
  <div class="mx-auto">
    <div class="flex items-center justify-between border-t-2 border-b-2 border-border py-3">
      <a href="/">
        <div class="flex items-center gap-1">
          <img src={ logo.src } alt="Los guisados de Mamá" class="w-20" />
          <h2 class="text-white text-xl font-bold hover:underline">Los guisados de Mamá</h2>
        </div>
      </a>
      <nav class="hidden lg:block">
        <ul class="sm:flex gap-3">
          {ROUTES.map(({ href, label }) => (
            <li>
              <a 
                href={href} 
                class="border-l-4 pl-3 border-white text-white font-semibold text-xl hover:underline"
              >
                {label}
              </a>
            </li>
          ))}
        </ul>
      </nav>
      <div class="block lg:hidden">
        <DropdownMenu client:idle/>
      </div>
    </div>
  </div>
</header>

<script>
  document.addEventListener("scroll", () => {
    const header = document.getElementById("header");
    if (header !== null && header !== undefined) {
      if (window.scrollY > 50) {
        header.classList.add("bg-blue");
      } else {
        header.classList.remove("bg-blue");
      }
    }
  });
</script>